.controls {
  padding: 10px 0;
}
.controls-content {
  margin: 10px;
}

.controls-view {
  display: flex;
  justify-content: space-between;
}

.controls-view-loss {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-right: 20px;
}
@media (min-width: 768px) {
  .controls-content {
    display: flex;
    justify-content: space-between;
  }

  .controls-view {
    padding: 15px 0;
    width: 30%;
  }

  .controls-range {
    margin: 0 20px;
    width: 70%;
  }
}
